<form class="example-form">
  <mat-form-field class="example-full-width">
    <input #input type="text" placeholder="any text" aria-label="Number" matInput (keyup)="get(input.value.trim())" [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.firstname + ' ' + option.lastname">
        {{option.firstname + " " + option.lastname}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
