<table class="table">
  <tr>
    <th>business</th>
    <td data-th="business">{{customer?.business}}</td>
  </tr>
  <tr>
    <th>code</th>
    <td data-th="code">{{customer?.code}}</td>
  </tr>
  <tr>
    <th>contractAddress</th>
    <td data-th="contractAddress">{{customer?.contractAddress}}</td>
  </tr>
  <tr>
    <th>customerState</th>
    <td data-th="customerState">{{customer?.customerState}}</td>
  </tr>
  <tr>
    <th>debitorName</th>
    <td data-th="debitorName">{{customer?.debitorName}}</td>
  </tr>
  <tr>
    <th>debitorNo</th>
    <td data-th="debitorNo">{{customer?.debitorNo}}</td>
  </tr>
  <tr>
    <th>hitCount</th>
    <td data-th="hitCount">{{customer?.hitCount}}</td>
  </tr>
  <tr>
    <th>id</th>
    <td data-th="id">{{customer?.id}}</td>
  </tr>
  <tr>
    <th>invoiceAddress</th>
    <td data-th="invoiceAddress">{{customer?.invoiceAddress}}</td>
  </tr>
  <tr>
    <th>notifiable</th>
    <td data-th="notifiable">{{customer?.notifiable}}</td>
  </tr>
  <tr>
    <th>prioNo</th>
    <td data-th="prioNo">{{customer?.prioNo}}</td>
  </tr>
  <tr>
    <th>ruzu</th>
    <td data-th="ruzu">{{customer?.ruzu}}</td>
  </tr>
  <tr>
    <th>stoerungId</th>
    <td data-th="stoerungId">{{customer?.stoerungId}}</td>
  </tr>
  <tr>
    <th>verifiedEMail</th>
    <td data-th="verifiedEMail">{{customer?.verifiedEMail}}</td>
  </tr>
  <tr>
    <th>verifiedPhone</th>
    <td data-th="verifiedPhone">{{customer?.verifiedPhone}}</td>
  </tr>
  <tr>
    <th>vip</th>
    <td data-th="vip">{{customer?.vip}}</td>
  </tr>
</table>
