<table class="table">
  <tr>
    <th>customernumber</th>
    <td data-th="customernumber">{{customer?.customernumber}}</td>
  </tr>
  <tr>
    <th>first_name</th>
    <td data-th="first_name">{{customer?.first_name}}</td>
  </tr>
  <tr>
    <th>last_name</th>
    <td data-th="last_name">{{customer?.last_name}}</td>
  </tr>
  <tr>
    <th>street</th>
    <td data-th="street">{{customer?.street}}</td>
  </tr>
  <tr>
    <th>zip</th>
    <td data-th="zip">{{customer?.zip}}</td>
  </tr>
  <tr>
    <th>city</th>
    <td data-th="city">{{customer?.city}}</td>
  </tr>
  <tr>
    <th>email</th>
    <td data-th="email">{{customer?.email}}</td>
  </tr>
</table>
